.relative{
    position: relative;
}

/* tablet */

@media (min-width: 481px){  

}

/* destkop */

@media (min-width: 1024px){  

    .relative{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
    }
}