.allCardsHotels{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.containerHotels{
    display: flex;
    justify-content: center;
    position: relative;
}

/* tablet */

@media (min-width: 481px){  

}

/* destkop */

@media (min-width: 1024px){  

    .allCardsHotels{
        max-width: 1400px;
        width: 75vw;
    }
}