.allCardsHotels{
    width: 100%;
    max-width: 1700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.containerHotels{
    display: flex;
    justify-content: center;
    position: relative;
}