body{
    margin: 0;
    padding: 0;
}
.noLine{
   text-decoration: none;
}

.navbarContainer{
   width: 100vw;
   color: black;
   display: flex;
   flex-direction: column;
   align-items: center;
  /*  margin-bottom: 1vw; */
}
.navbar-title-register{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 4vw 0;
   padding: 0 2vw;
}
.spanName{
   font-weight: bold;
   font-size: 5vw;
}
.buttonRegister{
    border: none;
  /*   margin-right: 10px;   */
    color: black;
    padding: 5px 10px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 2.5vw;
}
.buttonRegister:hover{ 
   border-bottom: 2px solid rgb(237 29 158) ;
}
.logoNameContainer{
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-left: 2%;
   width: 80%;
}
.logo{
   border-radius: 50px;
   height: 8vw;
   background-color: rgb(237 29 158);
   box-shadow: inset -4px 4px 18px 5px;
   color: white;
   display: flex;
   align-items: center;
   padding: 0 2vw;
   margin-right: 2vw;
   font-size: 4vw;
}
.container-reg-log{
   width: 20%;
   display: flex;
}
.letterLogin{
   display: none;
}

/* tablet */

@media (min-width: 481px){  

   .navbar-title-register{
      justify-content: space-between;
      margin: 3vw 0;
   }
   .logoNameContainer{
      margin-left: 2vw;
   }
   .logo{
      font-size: 2.5vw;
   }
   .spanName{
      font-size: 4vw;
   }
   .buttonRegister{
      font-size: 2vw;
   }
   .letterLogin{
      display: block;
   }
   .iconLogin{
      display: none;
   }
}

/* destkop */

@media (min-width: 1024px){  

   .navbar-title-register{
      margin: 1vw 0;
   }
   .logo{
      font-size: 2vw;
      height: 5vw;
      padding: 0 1vw;
   }
   .spanName{
      font-size: 2vw;
   }
   .buttonRegister{
      font-size: 1vw;
   }
   .container-reg-log{
      display: flex;
      justify-content: flex-end;
      padding-right: 3vw;
   }
}