.cardHotel {
    padding: 2vw;
    width: 50vw;
}
.imagesHotel{
    width: 100%;
    height: 45vw;
    object-fit: cover;
    border-radius: 10px;
}
.nameRating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ratingIcon{
    font-size: 4vw;
    font-weight: bold;
}
h3, h4 {
    margin: 1vw 0;
}
.colorGrey{
    color: rgb(126 106 106 / 85%);
    font-family: monospace;
    font-size: 3vw;
}
.city-card{
    font-size: 4vw;
}

/* tablet */

@media (min-width: 481px){  

    .cardHotel{
        width: 33vw;
    }
    .imagesHotel{
        height: 30vw;
    }
    .city-card{
        font-size: 2vw;
    }
    .ratingIcon{
        font-size: 2vw;
    }
    .colorGrey{
        font-size: 1.5vw;
    }
    h3, h4 {
        margin: 0.5vw 0;
    }
}

/* destkop */

@media (min-width: 1024px){  

    .cardHotel{
        width: 23vw;
    }
    .imagesHotel{
        height: 16vw;
    }
    .city-card{
        font-size: 1vw;
    }
    .ratingIcon{
        font-size: 1vw;
    }
    .colorGrey{
        font-size: .8vw;
    }
    

}