/* al calendario le pongo z-index = 1 para q se muestre por encima del header q tiene un z-index = 0 */
.calendar{
    position: absolute;
    z-index: 1;
    top: 27vh;
    
}
.searchContainer{
    width: 90%;
    border: 1px solid rgb(161, 159, 159);
    padding: 0 1.5vw;
    box-shadow: 7px 6px 5px 0px #80808052;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.searchInput{
    border: none;
    margin-right: 10px;
    padding: 5px 5px;
    display: flex;
    align-items: center;
}
.centerItems{
    display: flex;
    align-items: center;
}

.buttonFormSearch{
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    margin: 1vw;
}
.wrapperAdults{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.buttonCounterAdults{
    background-color: white;
    border: 1px rgb(26, 174, 218) solid;
    width: 25px;
    height: 25px;
}
.containerAdultChildren{
    /* width: 40vw; */
    border: 1px black solid;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 26vh;
    background-color: white;
    padding: 3vw;
}
.iconMargin{
    margin-right: 5px;
    font-size: 4vw;
}
.searchIcon{
    display: none;
}
.searchButton{
    border-radius: 5px;
    padding: 0.5vw 10vw;
    background: #33c6d9;
    color: white;
    
}

/* tablet */

@media (min-width: 481px){  

    .searchButton{
        display: none;
    }
    .searchIcon{
        display: block;
    }
    .searchContainer{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-radius: 30px;
    }
    .searchInput{
        font-size: 1.5vw;
    }
    .containerAdultChildren{
        width: 190px;
        padding: 1vw;
        top: 17vw;
        right: 16vw;
    }
    .calendar{
        top: 17vw;
    }
    .iconMargin{
        font-size: 2vw;
    }
}

/* destkop */

@media (min-width: 1024px){  

    .searchInput {
        font-size: .8vw;
    }
    .searchContainer{
        max-width: 1400px;
        width: 80%;
        padding: 0;
        height: 5vh;
    }
    .iconMargin{
        font-size: 1.5vw;
    }
    .calendar {
        top: 20vh;
    }
    .containerAdultChildren{
        top: 18vh;
        right: 58vh;
    }
}